@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
	margin: 0;
	padding: 10px;

	}
	
	body {
		max-width: 50%;
		height: auto;
		width: auto\9; /* ie8 */

	}
	.text {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
		text-align: center;
	}
	div {
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}

/*-----Board with 25 tiles-----*/

	.parent {

		background-color: rgb(154, 209, 117);
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		}

		.container {
		display: grid;
		height: calc(8vw - 10px);  /*instead playing around with grid gap gap */
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		justify-content: center;
		}
			.piece1 {
				font-family: "Poppins", sans-serif;
				background-color: rgb(199, 78, 78);
				width: 50px;
				height: 50px;
				border-radius: 100px;
				box-sizing: 35px;
			}
			.piece3 {
				font-family: "Poppins", sans-serif;
				background-color: rgb(199, 78, 78);
				width: 50px;
				height: 50px;
				border-radius: 100px;
				box-sizing: 35px;
			}
			.piece2 {
				font-family: "Poppins", sans-serif;
				background-color: rgb(78, 130, 199);
				width: 50px;
				height: 50px;
				border-radius: 100px;
			}
		
			.piece4 {
				font-family: "Poppins", sans-serif;
				background-color: rgb(78, 130, 199);
				width: 50px;
				height: 50px;
				border-radius: 100px;
			}

		.container div {
		margin: 0 10px 10px 0;  /*instead playing around with grid gap gap */
		background-color: rgb(116, 116, 116);
		padding: 5px;
		box-shadow: 7px 7px 0px 1px #0000001a;
		display: flex;  /* or grid */
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		}


/*-----Top bar guide/turn-----*/

	.guide {
		font-family: "Poppins", sans-serif;
		font-size: 50px;
		text-align: center;
		box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
		background-color: rgb(187, 197, 130);
		margin: 10px;
		border-radius: 10px;
	}



/*-----Player start base section-----*/

	.bottom {

		background-color: rgb(187, 197, 130);
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		margin: 10px;
		}

/*-----cards section-----*/

	.parent2 {

		background-color: rgb(154, 209, 117);
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		box-shadow: none;
		}

		.container2 {
		display: grid;
		height: calc(5vw - 10px);  /*instead playing around with grid gap gap */
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		justify-content: center;

		}

		.container2 div {
		margin: 0 10px 10px 0;  /*instead playing around with grid gap gap */
		background-color: rgb(241, 204, 71);
		padding: 5px;
		text-align: center;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		}

	.heroInfo {
		font-family: "Poppins", sans-serif;
		align-content: top;
		background-color: rgb(241, 204, 71);
		margin: 0 0px 10px 0;
		padding: 5px;
		border-radius: 10px;
		align-items: top;
		justify-content: top;
		border: none;
		max-width: 100%;
		height: auto;
		width: auto\9; /* ie8 */
	}

	.select {
		box-shadow: none;
		border-radius: 10px;
		font-family: 'Poppins', sans-serif;
		align-content: bottom;
		background-color: rgb(171, 159, 118);
		padding: 5px;
		text-align: center;
		text-decoration: none;
	
		margin-left:25%;
		margin-right:25%;
		margin-top: 50%;
		margin-bottom: 0px;
		cursor: pointer;
		background-image: none;
		float: center;
	}

	.resetButton {
		border-radius: 10px;
		font-family: 'Poppins', sans-serif;
		align-content: center;
		background-color: rgb(171, 159, 118);
		padding: 5px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		float: right;
	}